.paddown{
	padding-bottom: 20px;
}

.dividerr{
	height: 20px;
}

.iconheight{
	height: 30px;
}

.company-logo img {
	width: 60px;
	height:50px;
	border-radius: 40%;
	padding-right: 2px;
	padding-left: 0px;
}

.paduppro{
	padding-top: 30px;
	padding-left: 0px;
}
